<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="EI=egde">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"  href="../style.css" >
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style>
		form button {
			pointer-events: none !important
		}
	</style>
	<title><%= title %></title>
</head>
<body>
<main>
	<h3 onclick="history.back()" class="go-back"><span class="back-symbol"><<<</span>BACK TO HOME<span class="back-symbol">>>></span></h3>
<section id="specifications">
	<div class="container">
	<article class="col-lg-12 col-md-12 col-sm-12 centerfy" id="desk">
		<img src="../assets/arrivals/<%=record[0].assosImgs[0]%>" alt="" />
		<img src="../assets/arrivals/<%=record[0].assosImgs[1]%>" alt="" />
		<img src="../assets/arrivals/<%=record[0].assosImgs[2]%>" alt="" />
	</article>
	<article id="caro" class="container-fluid">
		<div id="gallery-cars" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active slide-Item1">
					<img src="../assets/arrivals/<%=record[0].assosImgs[1]%>" alt="" />
				</div>
				<div class="carousel-item slide-Item2">
					<img src="../assets/arrivals/<%=record[0].assosImgs[0]%>" alt="" />
				</div>
				<div class="carousel-item slide-Item3">
					<img src="../assets/arrivals/<%=record[0].assosImgs[2]%>" alt="" />
				</div>
			</div>
		  <a class="carousel-control-prev" href="#caro" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#caro" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		  </a>
		</div>
	</article>
	<div class="row">
		<aside class="col-lg-6 col-md-6 col-sm-6">
			<h4>Make : <%=record[0].make%></h4>
			<p>Name : <%=record[0].name%></p>
			<p>Colour :  <%=record[0].coulor%></p>
			<!-- <p>Model :  <%=record[0].model%></p> -->
			<p>Ran KM :  <%=record[0].mileage%></p>
			<p>Pre Owned :  <%=record[0].preOwned%></p>
			<p>Price : <span class="symbol">R</span>  <%=record[0].price%></p>
			<p>Mileage:  <%=record[0].mileage%><span></span> KM</span></p>
		</aside>
		<aside class="col-lg-6 col-md-6 col-sm-6">
			<h4>Specifications</h4>
			<p>Top Speed :  <%=record[0].specifications.TopSpeed%></p>
			<p>Engine :  <%=record[0].engine%></p>
			<p>No. of Doors :  <%=record[0].specifications.doors%></p>
			<p>Fuel Type :  <%=record[0].specifications.fuelType%></p>
			<p>Gear Box Type:  <%=record[0].specifications.gearbox%></p>
			
		</aside>
	</div>
	</div>
</section>
<section id="easy-contact" class="clr2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-6">
				<!-- action="" Method="POST" -->
				<form role="form" class="#dd3c15 contact-from" > 
					<div class="form-group">
						<label for="name">Name</label>
						<input type="text" class="form-control" id="name" name="firstname" placeholder="Enter Name" required />
					</div>
					<div class="form-group">
						<label for="name">eMAIL</label>
						<input type="text" class="form-control" id="email" name="email" placeholder="Enter eMail" required />
					</div>
					<div class="form-group">
						<label for="name">Phone Number</label>
						<input type="tel" class="form-control" id="email" name="phone" placeholder="Phone Number" required />
					</div>
					<div class="form-group">
						<label>Subject</label>
						<select>
							<option><%=record[0].make%></option>
							<option>Other</option>
						</select>
					</div>
					<div class="form-group">
						<label for="name" required >Message</label>
						<textarea type="text" rows="5" class="form-control" id="message" name="message" placeholder="How Can We Help You...?"></textarea>
					</div>
					<button class="btn btn-default" name="sendMailBtn">Submit</button>
				</form>
			</div>
			<div class= "col-lg-6 col-md-12 adress clr1 centerfy-col">
				<div class="locationIconAds" style="margin:15px;">
					<img src="../assets/social/location-icon.jpg" alt="location-icon" style=" border-radius : 20px"/>
				</div>
				<h3> Adress </h3>
				<a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.590450410472!2d25.92156231409561!3d-25.489219983761195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbadd98bddffbafb!2zMjXCsDI5JzIxLjIiUyAyNcKwNTUnMjUuNSJF!5e1!3m2!1sen!2sza!4v1670401227653!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"><button type="submit" class="btn">DIRECTION</button></a>
				<p>Crn N4 & Berbardie</p>
				<p>Zeerust</p>
				<p>North West</p>
				<p>2865</p>
				<p>South Africa</p>
			</div>
		</div>
	</div>
</section>
<!-- END OF FORM
START MAP -->
<footer >
	  <aside class="refer">
    <div class="full-width centerfy-col">
			<h3>Refer a Friend</h3>
			<p>We as <%=details.name %> we prode to be serving with used and brand new cars in Zeerust, around Ramotshere Moiloa district and beyond. Give us a call and we will sort you out, or whatsApp and better. Connect with us on facebook.</p>
	    <div class="flexy-cen">
	      <a href="" target="_blank" class="go-to add-more">Share FB</a>
	    </div>
		</div>
  </aside>
	<a href="#to-top" class="move-up-icon"><div>
		<img src="../assets/social/black-up.png" />
	</div></a>
	<div class="footer-links">
		<img src="../assets/logo.png" alt="logo" />
    <p>All Copy Right Reserved <span class="year"></span></p>
    <p>Designed by <span><a href="www.maobatechsolutions.co.za">Maoba Tech</a></p>
  </div>
</footer>
</main>
<!-- <script src="../public/js/jquery.js"></script>
<script src="../public/bootstrap/js/bootstrap/js/bootstrap.js"></script> -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>